# Lesson 1 - Variables , list, tuple , sets

## Variables - Python variables are simply containers for storing data values

In [32]:
x = 0
x = 1
y = 2
z = x + y
print(z)

3

How to fetch the address of varaibles

In [33]:
id(x)

2248372322544

### we can add variables to numbers

In [3]:
19 + z

22


### underscore _ stores the result from previous operation

In [4]:
_ + 9

31

### variables and strings

In [3]:
name = 'revathi'

In [19]:
name + " beautiful"


# string concatetnation

'revathi beautiful'

#### Pick letters or words of your choice from given strings

In [20]:
named

'revathi'

In [21]:
name[4:-1]

'th'

In [22]:
name[0]

'r'

In [23]:
name[0:2]

're'

In [24]:
name[:4]

'reva'

### no error

In [25]:
name[4:1030]

'thi'

#### Strings are immutable

In [26]:
name[0] = 's'

TypeError: 'str' object does not support item assignment

In [30]:
### what if you want rambhavathi instead of revathi

name[0:] + 'rambha'

'revathirambha'

In [31]:
len(name)

7

# LISTS

## Lists are used to store multiple items in a single variable

In [32]:
nums = [12,34,54,56,"revathi",3.4,-0]

In [33]:
type(nums)

list

In [34]:
nums[5]

3.4

### grouping one or more list

In [71]:
n1 = [1,2,3,9,'r','reva']
n2 = [4,6,7,8,'e','reva','t']

n3 = [n1,n2]
n3

[[1, 2, 3, 9, 'r', 'reva'], [4, 6, 7, 8, 'e', 'reva', 't']]

In [ ]:
### various methods in list ( press tab to list the methods)

append ( element)         -     adds specified element to last 
inserts ( index, element) -     adds element to the specified index
remove (element)          -     removes specified element from the list
pop(index)                -     removes element from specified index , just pop removes last elemt
del n1[2:]                -     deletes every element from index 2 in the list named n1
extend([,])               -     adds one or more elemts to the list
sort, max, min

In [77]:
n1.pop(1)

2

In [78]:
n1

[1, 3, 9, 'r', 'reva']

In [86]:
n1.append(14)
n1

[1, 2, 3, 9, 'r', 'reva', 14]

In [87]:
n1.insert(0,'first')
n1

['first', 1, 2, 3, 9, 'r', 'reva', 14]

In [88]:
n1.remove(14)
n1

['first', 1, 2, 3, 9, 'r', 'reva']

In [89]:
n1.pop()

'reva'

In [90]:
n1.pop(4)
n1

['first', 1, 2, 3, 'r']

In [2]:
del n1[2]

In [3]:
n1

[1, 2, 9, 'r', 'reva']

In [97]:
n1.extend(['revaaa'])

In [98]:
n1

['first', 1, 'revaaa', 'athi', 'revaaa']

In [100]:
n4=[1,4,0,3,90,45]

In [104]:
n4.sort()
n4

[0, 1, 3, 4, 45, 90]

In [106]:
min(n4)

0

# TUPLES AND SETS

tuples are immutable ( cannot change value) unlike list
use [] for list
use () for tuple



As values does not chnage in tuple,
the iteration is faster in tuple,
also code safe and can be used as dictionary keys  if it contains
immutable values like strings, numbers or other tuple (unlike list which are mutable)

but [] can be used to access values from tuples



tup.count - count here will give u the number of occurences of a number

In [5]:
tup = (23,45,12,67,23)
tup[1]

45

In [6]:
tup[1]=34

TypeError: 'tuple' object does not support item assignment

In [7]:
tup.count(23)

2

In [8]:
tup.index(23)

0



# SET

{} is for set
sets does not follow sequnce so no indexing , 
no duplicates
it uses hash

discard   - removes the specified elemt
difference_update - removes the commmon elemt in both setr

In [30]:
s1 = {23,1,24,56,98,76,23,89,98,98}

In [31]:
s1

{1, 23, 24, 56, 76, 89, 98}

In [28]:
s1 = [23,1,24,56,98,76,23,89,98,98]

In [29]:
s1

[23, 1, 24, 56, 98, 76, 23, 89, 98, 98]

In [92]:
s1[0]

23

In [96]:
s1.discard(0)

In [112]:
s1 = {'apple','banana','plum'}
s2={'apple', 'mango','orange'}

In [105]:
s2.difference_update(s1)

In [108]:
s1

{'apple', 'banana', 'plum'}

In [114]:
s2

{'apple', 'mango', 'orange'}

In [110]:
s1.intersection_update(s2)

In [111]:
s1

set()

In [113]:
s1.intersection(s2)

{'apple'}

In [16]:
s1

set()

In [17]:
s2

{'mango', 'orange'}

### User input

#### Input function by default considers string data type

In [11]:
a=input("enter first number")
b=input("enter second number")
print(type(a))
c=a+b
print("output is",c)

enter first number4
enter second number5
<class 'str'>
output is 45

In [12]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=a+b
print("output is",c)

enter first number4
enter second number5
output is 9

#### As python does not offer char data type , what if the user enters string instead of char , but we expect a char .

In [14]:
a=input("enter first char")

print("output is",a)

enter first charuytr
output is uytr

In [16]:
a=input("enter first char")[0]

print("output is",a)

enter first charrevathi
output is v

For calculating expression

In [17]:
a=eval(input("enter expression"))

print("output is",a)

enter expression2+3+1
output is 6

In [26]:
nums=[25,36,95,12,14,26]
nums.remove(25)

In [27]:
nums

[36, 95, 12, 14, 26]