# FUNCTIONS

In [2]:
def greet():
    print("hello")
    print("good morning")   #function definition
    
greet()                     #function call

hello
good morning

In [10]:

    
def add(a,b):
    c=a+b
    return c


res=add(5,18) 
print(res)

23

In [24]:
#returnng two values
    
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d


res, res1 = add_sub(5, 18)
print(f"Addition: {res}, Subtraction: {res1}" )

Addition: 23, Subtraction: -13

### Arguments to function

In [25]:
def update(x):
    x=8
    print(x)
    
update(10)

8

In [28]:
# In python it is not either of pass by value or refrerence , id of a and x has same address, initialy a and x are 10 (so address is same), but when x = 8 the address changes

In [1]:
def update(x):
    print("id of x before updation when the value was 10 like a ",id(x))
    x=8
    print("x=",x)
    print("id of x, which changed when it got updated to 8",id(x))
    
    
a=10  
print("id of a , before updation",id(a))
update(a)
print("a=",a)

id of a , before updation 2957664715280
id of x before updation when the value was 10 like a  2957664715280
x= 8
id of x, which changed when it got updated to 8 2957664715216
a= 10

### same address for lst and lst1 becoz list is mutable, unlike string and integer which are immutable

In [41]:
def update(lst1):
    lst1[1]=25
    print(id(lst1))
    print("list",lst1)
    
    
lst = [10,20,30]  
print(id(lst))
update(lst)

print(lst)

1985264656192
1985264656192
list [10, 25, 30]
[10, 25, 30]

Mutable objects are those whose state can be modified after creation. This means you can change the object's content or properties without changing its identity (memory location)

In [46]:
def add(a,b):       #formal arguments
    c = a+b
    print(c)
    
add(5,6)            #actual arguments  (4 types- position, keywords,default,variable length)

11

In [49]:
# by position ( what if user dont know the position)


def person(name,age):
    print(name)
    print(age-5)  # eroor becoz navo-8 
    
    
person(23,'navo')

23

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [50]:
def person(name,age):
    print(name)
    print(age-5)  # eroor becoz navo-8 
    
    
person(age=28,name='rev')

rev
23

In [3]:
# by default value

def person(name,age):
    print(name)
    print(age-5)  # eroor becoz navo-8 
    
    
person(name='rev')

TypeError: person() missing 1 required positional argument: 'age'

In [54]:
def person(name,age=18):
    print(name)
    print(age-5)  
    
person(name='rev')

rev
13

In [55]:
 def person(name,age=18):
    print(name)
    print(age-5)  
    
person(name='rev',age=30)

rev
25

In [58]:
# variable length argument (think of calulator summ (u can proivde any number of values))


def sum(a,b):
    c=a+b
    print(c)
    
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [64]:
def sum(a,*b):
    c=a+b
    print(c)
    
sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [62]:

def sum(a,*b):   # a is the first argument which shd be passed, but b represents the rest of the numbers 
                 # b is now considered as tuple
    #c=a+b
    print(a)
    print(b)
    
sum(5,6,7,8)

5
(6, 7, 8)

In [65]:
def sum(a,*b):
    
    c=a         # a will be stored in c , finally we fetch add every other values to c using for loop
    for i in b:
        c=c+i
        
    print(c)
    
sum(5,6,7,8)

26

In [66]:
def sum(*b):
    
    c=0         
    for i in b:
        c=c+i
        
    print(c)
    
sum(5,6,7,8)

26

In [7]:
def print1(*b):
    for i in b:
        print(i)
        
print1(1,2,3,4,5)

1
2
3
4
5

### Keyworded variable length arguments

In [67]:
def person(name,*data):
    
    print(name)
    print(data)
    
person('revathi',27,'kerala',437989)

revathi
(27, 'kerala', 437989)

what if u dont know what it represents exaclty so u will use keyword

In [70]:
def person(name,*data):
    
    print(name)
    print(data)
    
person('revathi',age=27,city='kerala',mob=437989)

TypeError: person() got an unexpected keyword argument 'age'

when u mention keyword argument like age=27 or city= kerala etc, it will not be accepted by * in the formal arguments

In [75]:
def person(name,**data):    # use kwargs
    
    print(name)
    #print(data)
    print(type(data))
    
person('revathi',age=27,city='kerala',mob=437989)

revathi
{'age': 27, 'city': 'kerala', 'mob': 437989}
<class 'dict'>

In [8]:
def person(name,**data):    # use kwargs
    
    print(name)
  
    
    for i,j in data.items():
        print(i,j)
    
person('revathi',age=27,city='kerala',mob=437989)

revathi
<class 'dict'>
age 27
city kerala
mob 437989

In [9]:
# reference - .tems() for dictionary to access each dictinoary element
l={'age': 27, 'city': 'kerala', 'mob': 437989}

In [21]:
for i,j in l.items():
    print(i,j)

age 27
city kerala
mob 437989

In [22]:
for i in l:
    print(i,l[i])

age 27
city kerala
mob 437989

In [77]:
l.items()

dict_items([('age', 27), ('city', 'kerala'), ('mob', 437989)])

In [ ]:
### passing list to a function
#### we pass a list to function and function shd return number of even and odd values in the list

In [82]:
def count(lst):
    even=0
    odd=0
    
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
            
    return even,odd

lst=[20,23,21,14,63,90,45,86,87]

even,odd=count(lst)

print(f"even:{even},odd:{odd}")

even:4,odd:5

In [17]:
def count(lst):
    lst.reverse()
    return lst
    
    
list1=[1,2,3,4]
list2=count(list1)
print(list2)
print(list1)

[4, 3, 2, 1]
[4, 3, 2, 1]

In [18]:
def count(lst):
    lst.reverse()  # Reverse the list in place
    return lst  # Return the reversed list

list1 = [1, 2, 3, 4]
list2 = count(list1.copy())  # Pass a copy of list1 to avoid modifying the original list
print(list2)
print(list1)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [ ]:
#Passing function as argument to another function

In [1]:

def square(x):
    return x ** 2

def apply_function(func, value):
    return func(value)

# Passing the 'square' function as an argument to 'apply_function'

result = apply_function(square, 5)  # Passing 'square' function and the value 5

print(result)  # Output: 25 (square of 5)

25